<h1>{{ question }}</h1>
{# Just a comment #}

<div>
    Eventually there will be a question here (yhm,ta)...
</div>

<h2>Answers</h2>
{% for answer in answers %}
    <li>{{ answer }}</li>
{% endfor %}
